/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.fas{
    margin-right: 5px;
    margin-bottom: 3px;
}

.mat-raised-button{
    margin-right: 10px !important;
}

.mat-card-subtitle{
    color:#142167;
    font-size: 18px;
 }

